{% extends 'layout.html' %}

{%block content %}
    <h1>Home page</h1>
    {% for pos in post %}
    <div class="card border-dark mb-3" style="max-width: 22rem;">
        <div class="card-header bg-light ">
            <h5 href="#">{{pos.author}} </h5> 
            <small><p>{{pos.date_posted}}</p></small>
        </div>
        <div class="card-body">
            <p class="card-text"> <strong>{{pos.title}}</strong> </p>
            <p class="card-text"> {{pos.content}}</p>
        </div>
    </div>
    
        
    {% endfor %}
{% endblock %}