{% extends 'base.html' %}


{% block content %}

<h1>
    Welcome to Pitches App.
</h1>
<p>Pitch and inspire.</p>

<p>
    <a href="{{ url_for('account') }}">Write your Pitch </a>
</p>
<h2>Articles from Every one</h2>

{% for post in posts %}

<div>
    
    <p>
        Author : {{ post.author }}
    </p>
    <p>
        Pitch : {{ post.content }}
    </p>
    <p>
        Date posted : <small> {{post.date_posted}} </small>
    </p>

    <p>
        <a href=" {{ url_for('comment') }} "> Comment </a>
    </p>
</div>

{% endfor %}

{% endblock %}